{% extends "layout.html" %} {% load bootstrap4 %} {% load static %}
<!---->
{% block content %}
<h1>Buscar Produtos</h1>
{% bootstrap_messages %}
<form action="{% url 'buscar' %}" method="post" class="form" autocomplete="off">
  {% csrf_token %} {% bootstrap_form form %} {% buttons %}
  <button type="submit" class="btn btn-primary">Buscar</button>
  {% endbuttons %}
</form>
{% for produto in produtos %}
<div
  class="card border-{{ produto.estado }} mb-3"
  style="width: 18rem; float: left; margin: 1%;"
>
  <img
    class="card-img-top"
    src="{% url 'media' produto.imagem.src %}"
    alt="Imagem do Produto"
    height="180px"
    width="286px"
  />
  <div class="card-body text-{{ produto.estado }}">
    <div style="height: 3rem; overflow: auto;">
      <b><p class="card-title">{{ produto.nome }}</p></b>
    </div>
    <p class="card-text">
      R${{ produto.preco }} <br />
      Em estoque: {{ produto.quant }}<br />
      Quantidade Minima: {{ produto.quant_minima }}
    </p>
    <form
      action="{% url 'editar' %}"
      method="post"
      class="form"
      autocomplete="off"
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <input
      type="hidden"
      name="nome"
      value="{{ produto.nome }}"
      id="id_nome"
      >
      <button type="submit" class="btn btn-primary">Editar</button>
    </form>
  </div>
</div>
{% endfor %}
{% bootstrap_javascript jquery='full' %} {% endblock %}
