{% extends "layout.html" %} {% load bootstrap4 %} {% load static %}
<!---->
{% block content %}
<h1>Editar Produto</h1>
{% bootstrap_messages %}
<form
  action="{% url 'editar' produto.id %}"
  method="post"
  class="form"
  autocomplete="off"
  enctype="multipart/form-data"
>
  {% csrf_token %} {% bootstrap_form formproduto %}
  <input type="hidden" name="user_id" required="" id="id_user">

  <div class="form-group">
    <h4>Imagem do Produto</h4>
    {{ formimagem.imagem }}
  </div>
  {% buttons %}
  <a href="{% url 'deletar' produto.id %}">
    <button type="button" class="btn btn-danger">Deletar Produto</button>
  </a>
  <button type="submit" class="btn btn-success">Salvar Alterações</button>
  {% endbuttons %}
</form>
{% bootstrap_javascript jquery='full' %} {% endblock %}
