{% load static %} {% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sistema Estoque</title>
    {% bootstrap_css %}
    <link rel="icon" href="{% static 'images/icon.png' %}" />
  </head>

  <body style="margin-bottom: 5%;">
    <div class="container">
      <header class="cabecalho">
        <nav class="navbar navbar-expand-lg bg-primary navbar-light bg-light">
          <a class="navbar-brand" href="{% url 'index' %}">Home</a>
          <a class="navbar-brand" href="{% url 'vender' %}">Vender</a>
          <a class="navbar-brand" href="{% url 'buscar' %}">Buscar</a>
          <a class="navbar-brand" href="{% url 'listar' %}">Listar</a>
          <a class="navbar-brand" href="{% url 'cadastrar' %}">Cadastrar*</a>
          <a class="navbar-brand" href="{% url 'editar' %}">Editar*</a>
          <a class="navbar-brand" href="/admin">ADM*</a>
          <a class="navbar-brand" href="{% url 'logout' %}">Sair</a>
        </nav>
        <hr />
      </header>
    </div>
    <div class="container">
      {% block content %}
      <h1>Sem conteudo</h1>
      {% endblock %}
    </div>
  </body>
</html>
